@import '../../styles/styles';

.home-setup {
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $bp-small) {
    // flex-direction: column;
    // height: 100vh;
  }
}

.home-page {
  height: 100vh;
  width: 15vw;
  border-right: 1px solid rgba($color-black, 0.1);
  padding: 5rem 0;
  background-color: $color-white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5rem;

  @media only screen and (max-width: $bp-medium) {
    overflow: scroll;
  }
  @media only screen and (max-width: $bp-small) {
    height: 100%;
    width: 15%;
  }
}

.link-page {
  height: 5rem;
  width: 100%;
  text-decoration: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.noMobile {
  @media only screen and (max-width: $bp-small) {
    display: none;
  }
}

.desc {
  color: $color-black;
  font-size: 1.5rem;
  letter-spacing: 1.7px;

  @media only screen and (max-width: $bp-medium) {
    font-size: 1.1rem;
    letter-spacing: 1.4px;
  }
  @media only screen and (max-width: $bp-small) {
    display: none;
  }
}
