@import '../../styles/styles';

.cart-item__month {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.month-options {
  padding: 0.5rem;
  border: none;
}

.month-options:focus {
  outline: none;
}
