@import '../../styles/styles';

.account-details {
  &__container {
    width: 100%;
    height: 80%;
    padding: 5rem 1rem;

    display: flex;

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
      height: auto;
      overflow: scroll;
      padding: 1rem;
    }

    &--main {
      height: 100%;
      width: 100%;

      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 5rem;

      @media only screen and (max-width: $bp-medium) {
        overflow: scroll;
      }

      @media only screen and (max-width: $bp-small) {
        width: 100%;
        height: auto;
        border-right: none;
        overflow: visible;
        gap: 0;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }
    }
  }

  &__total {
    height: 5rem;
    width: 100%;
    margin: 3rem 0;
    padding-right: 4rem;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

    @media only screen and (max-width: $bp-small) {
      justify-content: center;
      padding: 0;
      order: 3;
    }
  }
}
