@import '../../styles/styles';

.button {
  height: auto;
  width: auto;
  cursor: pointer;
  border: none;

  &__normal {
    height: 4rem;
    width: 10rem;
    color: $color-black;
    font-size: 1.6rem;
    letter-spacing: 1.7px;
    border-radius: 5px;
    background-color: $color-white;
    border: 1px solid black;
    transition: all 0.3s ease-in-out;
  }

  &__normal:active {
    transform: translateY(0.3rem);
  }

  &__link {
    font-size: 1.5rem;
    color: $color-secondary;
    background-color: $color-white;
    letter-spacing: 0.12rem;
  }

  &__logout {
    background-color: white;
    border: none;

    @media only screen and (max-width: $bp-small) {
      height: 5rem;
      width: 5rem;
    }
  }

  &__cart {
    height: 20rem;
    width: 20rem;
    border-radius: 25px;
    padding: 2rem;
    box-shadow: $shadow-cart;
    background-color: $color-white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @media only screen and (max-width: $bp-small) {
      flex-grow: 1;
    }
  }
}
