@import '../../styles/styles';

.modal-add-data {
  position: absolute;
  min-height: 100%;
  width: 100vw;
  padding: 5rem 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $color-white;

  &__img {
    height: 20rem;
    width: auto;
  }

  &__container {
    width: 100%;
    height: auto;
    margin-bottom: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__options {
    height: 6rem;
    width: 25rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    &--select {
      height: 3.5rem;
      width: 12rem;
      align-self: flex-end;
      border: 1px solid $color-black;
      border-radius: 5px;
      color: $color-black;
      background-color: $color-white;
    }
  }

  &__select-time {
    display: flex;
    gap: 0.5rem;
    margin-top: 3rem;
  }
}
