@import '../../styles/styles';

.bar {
  height: 5rem;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
    height: 10rem;
    align-items: flex-start;
  }
}

.user {
  height: 100%;
  width: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    overflow: hidden;
  }

  &__img {
    height: 100%;
    width: 100%;
  }
}
