@import '../../../styles/styles';

.select-time {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.month-options {
  border: none;
  background-color: inherit;
  color: $color-black;
}

.year-options {
  font-size: 2rem;
  font-weight: 700;

  border: none;
  background-color: inherit;
  color: $color-black;
}
.year-options:focus,
.month-options:focus {
  outline: none;
}
