@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

$text-style-primary: 'Roboto', sans-serif;

// Breakpoints
$bp-4k: 156em; // 2500px
$bp-largest: 75em; // 1200/16 = 75em
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

// Colors
$color-primary: #14213d;
$color-secondary: #22577a;
$color-tertiary: #f7f7f7;

$color-green: #2a9d8f;
$color-red: #e5383b;

$color-white: white;
$color-dark-gray: #adb5bd;
$color-black: #000000;

// Shadows

// Headers
.header {
  color: $color-primary;
  letter-spacing: 0.12rem;

  span {
    font-size: 2rem;
    color: $color-dark-gray;
  }
}

.h-big {
  font-size: 5rem;

  @media only screen and (max-width: $bp-small) {
    font-size: 4rem;
  }
}
.h-large {
  font-size: 2.5rem;

  @media only screen and (max-width: $bp-medium) {
    font-size: 1.8rem;
  }
}
.h-normal {
  font-size: 2rem;

  @media only screen and (max-width: $bp-medium) {
    font-size: 1.5rem;
  }
}
.h-small {
  font-size: 1.5rem;
}
.h-special {
  font-size: 1.6rem;
  font-weight: 100;
}
.h-cart-huge {
  font-size: 3rem;
  color: $color-dark-gray;
}
.h-cart-big {
  font-size: 1.8rem;
  color: $color-dark-gray;
}
.h-cart-normal {
  font-size: 1.3rem;
  color: $color-dark-gray;
}

.header-cart {
  border-radius: 5px;
  width: fit-content;
  padding: 0 1rem;
}

// Backgrounds
.bk-green {
  background-color: #d0f4de;
}
.bk-red {
  background-color: #f28482;
}

// Paragraphs

.p-cart-item {
  padding-left: 1rem;
  font-size: 1.6rem;
}

// Margins
.mt-large {
  margin-top: 3rem;
}

// font color

.color-white {
  color: $color-white;
}
.color-green {
  color: $color-green;
}
.color-red {
  color: $color-red;
}
.color-gray {
  color: $color-dark-gray;
}

// Budys
.body-container {
  height: 100vh;
  width: 85vw;
  padding: 1rem;
  background-color: $color-tertiary;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
  }
  @media only screen and (max-width: $bp-small) {
    height: 90vh;
    width: 100%;
    padding: 2rem 1rem;
    order: 1;
  }
}

.body-box {
  height: auto;
  width: 100%;
  padding: 5rem;
  overflow: scroll;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;

  @media only screen and (max-width: $bp-small) {
    padding: 3rem 1rem;
    margin-top: 1rem;
  }
}
