@import '../../styles/styles';

.navigation {
  height: 5rem;
  width: 100%;
  padding: 0 2rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
    height: 15rem;
    align-items: flex-start;
    gap: 0;
  }

  &__time {
    height: 100%;
    width: 25rem;

    display: flex;
    align-items: center;

    @media only screen and (max-width: $bp-small) {
      width: 100%;
      margin: 2rem 0;
    }
  }
}

.user {
  height: 100%;
  width: auto;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 2;

  &__logo {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    overflow: hidden;
  }

  &__img {
    height: 100%;
    width: 100%;
  }
}
